<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css')}}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>
    <title>Flask</title>
  </head>
  <body>
    <h3>Hello from html page</h3>
    <button onclick="handleClick()">Click me</button>
  </body>
</html>
